{% extends 'news/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom pb-4">Log In</legend>
        {{ form|crispy }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Login</button>
      </div>
      <div class="form-group">
        <small class="text-muted">
          <a class="forgot-pass" href="{% url 'password_reset' %}">Forgot Password?</a>
        </small>
      </div>
      <hr>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Need An Account? <a href="{% url 'register' %}" class="sign-up ml-2">Sign Up</a>
      </small>
    </div>
  </div>
{% endblock content %}
