{% extends 'news/base.html' %}

{% block navmenu %}
  <li><a href="{% url 'news-home' %}">Главная</a></li>
  <li class="active"><a href="{% url 'news-about' %}">О нас</a></li>
  <li><a href="events.html">Events</a></li>
  <li><a href="contact-us.html">Контакты</a></li>
  <li><a class="at-drop-down">Войти на сайт <i class="hidden-md hidden-lg fa fa-angle-down"></i></a>
    <ul class="sub-menu">
      <li><a href="#">Авторизация</a></li>
      <li><a href="{% url 'register' %}">Регистрация</a></li>
    </ul>
  </li>
{% endblock navmenu %}

{% block content %}
  {% for post in posts %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.author }}</a>
        <small class="text-muted">{{ post.date_posted }}</small>
      </div>
      <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
  {% endfor %}
{% endblock content %}
