{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Video, news, korean" />
    <!--====== TITLE TAG ======-->
    {% if title %}
      <title>Korean Portal – {{ title }}</title>
    {% else %}
      <title>Korean Portal</title>
    {% endif %}
    <!--====== ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="{% static 'news/img/icon.png' %}">
    <!--====== STYLESHEETS ======-->
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'news/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}">

    <script src="{% static 'news/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
  <!--START TOP AREA-->
  <header class="top-area single-page blog-page" id="home">
      <div class="page-barner-bg"></div>
      <div class="header-top-area">
          <!--MAINMENU AREA-->
          <div class="mainmenu-area" id="mainmenu-area">
              <div class="mainmenu-area-bg"></div>
              <nav class="navbar">
                  <div class="container">
                      <div class="collapse navbar-collapse bs-example-js-navbar-scrollspy">
                          <ul id="nav" class="nav navbar-nav cl-effect-11">
                            <li class="{% if news_home %}active{% endif %}"><a href="{% url 'news-home' %}">Main</a></li>
                            <li class="{% if news_about %}active{% endif %}"><a href="{% url 'news-about' %}">About Us</a></li>
                            <li class="{% if news_events %}active{% endif %}"><a href="events.html">Events</a></li>
                            <li class="{% if news_contacts %}active{% endif %}"><a href="contact-us.html">Contacts</a></li>
                            {% if user.is_authenticated %}
                              <li class="{% if users_profile %}active{% endif %}"><a href="{% url 'profile' %}">Profile</a></li>
                              <li><a href="{% url 'logout' %}">Log Out</a></li>
                            {% else %}
                              <li class="{% if users_auth %}active{% endif %}"><a class="at-drop-down" href="#">Auth<i class="hidden-md hidden-lg fa fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                  <li><a href="{% url 'login' %}">Log In</a></li>
                                  <li><a href="{% url 'register' %}">Register</a></li>
                                </ul>
                              </li>
                            {% endif %}
                          </ul>
                      </div>
                  </div>
              </nav>
          </div>
          <!--END MAINMENU AREA END-->
      </div>

      <!--PAGE BARNER AREA-->
      <div class="page-barner-area">
          <div class="container wow fadeIn">
              <div class="row">
                  <div class="col-md-12 col-xs-12">
                      <div class="barner-text">
                          <h1><span>Korean association</span></h1>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--PAGE BARNER AREA END-->

  </header>
  <!--END TOP AREA-->

  <!--BLOG AREA-->
  <section class="blog-page blog-area section-padding">
      <div class="container">
          <div class="row">

              <!--MAIN CONTENT-->
              <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
              </div>

              <!--SIDEBAR-->
              <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                  <div class="blog-sidebar">
                      <div class="single-sidebar-widget">
                          <form action="#">
                              <input type="search" name="search" id="search" placeholder="Search...">
                              <button type="submit"><i class="fa fa-search"></i></button>
                          </form>
                      </div>
                      <div class="single-sidebar-widget catagories-widget wow fadeIn">
                          <h4>Categories</h4>
                          <ul>
                              <li><a href="#"><i class="fa fa-angle-right"></i>Category 1</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i>Category 2</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i>Category 3</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i>Photos</a></li>
                              <li><a href="#"><i class="fa fa-angle-right"></i>Videos</a></li>
                          </ul>
                      </div>
                      <div class="single-sidebar-widget social-widget wow fadeIn">
                          <h4>Connect With Us</h4>
                          <ul>
                              <li class="s_facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li class="s_twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li class="s_instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                              <li class="s_youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                          </ul>
                      </div>
                      <div class="single-sidebar-widget post-widget wow fadeIn">
                          <h4>Top Posts</h4>
                          <ul>
                              <li class="s_post">
                                  <div class="post-tumb alignleft">
                                      <a href="#"><img src="img/blog/thumb/1.jpg" alt=""></a>
                                  </div>
                                  <div class="post-title-and-date">
                                      <h4><a href="#">Becoming a better life</a></h4>
                                      <p class="post-meta"><a href="#">Mar 25, 2017</a></p>
                                  </div>
                              </li>
                              <li class="s_post">
                                  <div class="post-tumb alignleft">
                                      <a href="#"><img src="img/blog/thumb/2.jpg" alt=""></a>
                                  </div>
                                  <div class="post-title-and-date">
                                      <h4><a href="#">Do you know how make a pizza ?</a></h4>
                                      <p class="post-meta"><a href="#">Jan 25, 2017</a></p>
                                  </div>
                              </li>
                              <li class="s_post">
                                  <div class="post-tumb alignleft">
                                      <a href="#"><img src="img/blog/thumb/3.jpg" alt=""></a>
                                  </div>
                                  <div class="post-title-and-date">
                                      <h4><a href="#">Why we provide best service ?</a></h4>
                                      <p class="post-meta"><a href="#">Dec 25, 2017</a></p>
                                  </div>
                              </li>
                              <li class="s_post">
                                  <div class="post-tumb alignleft">
                                      <a href="#"><img src="img/blog/thumb/4.jpg" alt=""></a>
                                  </div>
                                  <div class="post-title-and-date">
                                      <h4><a href="#">How to make a our community member ?</a></h4>
                                      <p class="post-meta"><a href="#">Nov 25, 2017</a></p>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <div class="single-sidebar-widget instagram-widget wow fadeIn">
                          <h4>Instagram Gallery</h4>
                          <ul class="blog-instagram-feed-widget"></ul>
                      </div>
                  </div>
              </div>
          </div>

          <!--PAGINATION-->
          <div class="row">
              <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
                  <ul class="page-pagination margin-top">
                      <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                      <li class="active"><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </section>
  <!--BLOG AREA END-->

  <div class="footer-area">
      <div class="container wow fadeIn">
          <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                  <div class="footer-top section-padding text-center">
                      <div class="footer-address">
                          <p>Tomsk, Russia</p>
                          <p><a href="mailto:test@gmail.com">test@example.com</a></p>
                          <p><a href="callto:+79061234567">+7(906)123-45-67</a></p>
                      </div>
                      <div class="footer-social-bookmark">
                          <ul>
                              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                              <li><a href="#"><i class="fa fa-skype"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <div class="footer-menu">
                      <ul>
                          <li><a href="#">Teams of use</a></li>
                          <li><a href="#">Privicy Policy</a></li>
                          <li><a href="#">SiteMap</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                  <div class="footer-copyright">
                      <p>&copy; 2019 All Rights Reserved. Created by <a href="https://github.com/PavelKimm">Pavel Kim</a>.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
