{% extends 'news/base.html' %}
{% load static %}

{% block content %}
  {% for post in posts %}

  <div class="single-blog text-center wow fadeIn">
      <div class="blog-image-sldie">
          <img src="{% static 'news/img/blog/main_blog/test.jpg' %}" alt="">
      </div>
      <div class="blog-details">
          <div class="title-and-meta text-left">
              <h3><a href="#">{{ post.title }}</a></h3>
              <p class="post-meta">Автор: <a href="#">{{ post.author }}</a> | <a href="#">{{ post.date_posted|date:"j M Y, H:i" }}</a></p>
          </div>
          <div class="blog-content text-left">
              <p>{{ post.content }}</p>
              <a href="#" class="read-more">Подробнее</a>
          </div>
      </div>
  </div>

  {% endfor %}
{% endblock content %}
