{% extends 'news/base.html' %}
{% load static %}

{% block content %}
  <div class="single-blog text-center wow fadeIn">
      <div class="blog-image-sldie">
          <img src="{% static 'news/img/blog/main_blog/test.jpg' %}" alt="">
      </div>
      <div class="blog-details">
          <div class="title-and-meta text-left">
              <h3 class="article-title">{{ object.title }}</h3>
              <p class="post-meta">Author:<a href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>|<a>{{ object.date_posted|date:"j M Y, H:i" }}</a></p>
          </div>
          <div class="blog-content text-justify">
              <p>{{ object.content }}</p>
          </div>
          {% if user.is_staff %}
          <div class="text-left mt-2">
            <a class="btn btn-outline-info btn-sm" href="{% url 'post-update' object.id %}">Update</a>
            <a class="btn btn-outline-danger btn-sm ml-2" href="{% url 'post-delete' object.id %}">Delete</a>
          </div>

          {% endif %}
      </div>
  </div>
{% endblock content %}
